.container{
  padding-top: 80px;
  padding-left: 185px;
  padding-right: 0px;
}

.notification-header {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

.notifications-container{
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 6px;
  width:100%;
}

.approve-btn{
  background-color: #2D4262 !important;
}

.cancel-btn{
  background-color: #c5001a !important;
  margin-right: 15px;
}

.icon{
  padding: 0px 1rem 0px 1rem;
}

.cursor-pointer{
  cursor: pointer;
}

.custom-checkbox {
  justify-content: center;
  display: flex;
}

.message-column {
  width: 45%;
}

thead th {
  font-weight: bold;
  font-size: 18px;
}

tbody td {
  font-size: 15px;
  vertical-align: middle;
}
