<div class="notification-header">
  <button mdbBtn color="" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="applyFor()">Make an
    appoinment
  </button>
</div>

<div class="notification" *ngFor="let n of notifications">
  <div class="header">
    <div class="icon">
      <img src="assets/icons/icon_warning.png" alt="warning">
    </div>
    <div class="label">
      Warning
    </div>
    <div class="date">
      {{n.notificationTime | date : "MMM d, y h:mm a"}}
    </div>
    <div class="icon cursor-pointer">
      <div (click)="deleteNotification(n.id)">
        <img src="assets/icons/icon_close.png" width="35">
      </div>
    </div>
  </div>
  <div class="message">
    <div class="boxes">
      <input type="checkbox" id="{{n.id}}" [(ngModel)]="n.isSelected" [default]="false">
      <label for="{{n.id}}">{{n.message}}</label>
    </div>
  </div>
</div>

<div class="notification-header">
  <button mdbBtn color="" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="applyFor()">Make an
    appoinment
  </button>
</div>
