<div class="md-stepper-horizontal">
  <div class="md-step active done">
    <div class="md-step-circle"><span>1</span></div>
    <div class="md-step-title">TO DO</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step">
    <div class="md-step-circle"><span>2</span></div>
    <div class="md-step-title">In Progress</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step">
    <div class="md-step-circle"><span>3</span></div>
    <div class="md-step-title">Done</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step">
    <div class="md-step-circle"><span>4</span></div>
    <div class="md-step-title">Feedback</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>