<mdb-card *ngFor="let feedback of allFeedback" style="width: 400px; position: relative; left: 210px; top: 80px; z-index: 0;">
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Author: {{feedback.fullName}}</h4>
        <h4>About: {{feedback.serviceName}}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>
        <p>{{feedback.text}}</p>
        <h1>{{feedback.time}}</h1>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>