.list-group-item{
    margin: 0.5px;
    &:hover{
        cursor: pointer;
    }
}

.time-value{
    color: crimson;
    margin: 20px;
    align-self: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.selected{
    background-color: #336B87;
    border-color: #2D4161;
    border-width: 2px;
}

.non-select{
    border-color: rgb(196, 194, 194);
    border-width: 2px;
}
