<div class="container">
<!-- <div class='d-flex justify-content-center align-items-center'> -->

  <h1> {{sensorType}} </h1> 

  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button mdbBtn type="button" color="unique" size="sm" class="waves-light" (click)='changePeriod("/day")' mdbWavesEffect>Day</button>
    <button mdbBtn type="button" color="unique" size="sm" class="waves-light" (click)='changePeriod("/month")' mdbWavesEffect>Month</button>
    <button mdbBtn type="button" color="unique" size="sm" class="waves-light" (click)='changePeriod("/year")' mdbWavesEffect>Year</button>
  </div>

  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button mdbBtn type="button" color="unique" size="sm" class="waves-light" (click)='changeSelection()' mdbWavesEffect>All</button>
    <button mdbBtn type="button" color="unique" size="sm" class="waves-light" (click)='changeSelection("/min")' mdbWavesEffect>Min</button>
    <button mdbBtn type="button" color="unique" size="sm" class="waves-light" (click)='changeSelection("/max")' mdbWavesEffect>Max</button>
  </div>

  <div style="width: 400px; height: 200px;">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>