<app-menu></app-menu>
<br><br><br><br>
  <div class="container">
  <form form="carProfile" (ngSubmit)="onSubmit()">
  <p class="h3 mb-4">Car profile</p>
  <label><b>Brand</b></label>
  <input type="text" class="form-control" [(ngModel)]="carProfile.brand" name="brand" required>
  <label><b>Model</b></label>
  <input type="text" class="form-control" [(ngModel)]="carProfile.model" name="model" required>
  <label><b>Graduation year</b></label>
  <input type="number" class="form-control" [(ngModel)]="carProfile.graduationyear" name="graduation_year" required>
  <label><b>Number</b></label>
  <input type="text" class="form-control" [(ngModel)]="carProfile.number" name="number" required>
  <label><b>Vin</b></label>
  <input type="text" class="form-control" [(ngModel)]="carProfile.vin" name="vin" required>
  <br> 
  <div>
  <button id="create" type="submit" class="btn my-2 my-sm-0">Create</button>
  <a id="cancel" href="/home" type="button" class="btn my-2 my-sm-0">Cancel</a>
  </div>
  </form>
  </div>

 