
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 20px;
}

.work-container{
    width : 150px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:#763626;
}

.select{
    border-color: #2D4161;
    border-width: 2px;
}

.non-select{
    border-color: rgb(196, 194, 194);
    border-width: 2px;
}
.free-time{
    display: flex;
    flex-flow: column;
}
.date{
    width: 300px;
}
.flex-in-row{
    flex-direction: row;
    flex-wrap: wrap;
}