<app-menu></app-menu>

<br><br>
<div class="container-fluid">
    <ul *ngFor="let car of cars">
  
  <h3> {{car.brand}} {{car.model}} </h3>
  <li>Graduation year : {{car.graduation_year}} </li>
  <li>Number : {{car.number}} </li>
  <li>Vin : {{car.vin}} </li>
  <li *ngIf="!car.price == null">Price : {{car.price}} </li>
  <li *ngIf="!car.end_guarantee == null">End of guarantee : {{car.end_guarantee}} </li>
    
  <br>
  <button  class="btn btn-outline-success my-2 my-sm-0" (click) = "applyToSTO(user.id)">Apply to STO</button>
  <button  class="btn btn-outline-success my-2 my-sm-0" (click) = "applyToTradeIn()">Apply for Trade in</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click) = "goToCharts(car)">View charts</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click) = "history(user.id)">Service history</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click) = "deleteCarById(car.id)">Delete {{car.brand}} {{car.model}}</button>
    </ul>
  </div>  

