<app-menu></app-menu>
<!--<div>{{user | json}}</div>-->
<div  style="width: 400px;">
  <div class="md-form input-group mb-3" >
    <div class="input-group-prepend">
        <span class="input-group-text md-addon">Name: </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="techservice.name" aria-label="Username" aria-describedby="material-addon1">
  </div>

  <div class="md-form input-group mb-3" >
      <div class="input-group-prepend">
          <span class="input-group-text md-addon">Address: </span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="techservice.address" aria-describedby="material-addon1">
  </div>
  
    <div *ngIf="techservice.stoId < 0">
        <button (click)="createTechservice(techservice, user)" type="button" mdbBtn block="true" color="dark" mdbWavesEffect>Create Technical Service</button>
    </div>
    <div *ngIf="techservice.stoId > 0">
        <button (click)="updateTechservice(techservice)" type="button" mdbBtn block="true" color="dark" mdbWavesEffect>Update Info</button>
        <br>
        <button (click)="deleteTechservice(techservice.id)" type="button" mdbBtn block="true" color="dark" mdbWavesEffect>Delete Technical Service</button>
    </div>
</div>
<!--
{{techservice.created | json}}
{{techservice | json}}
-->