<app-menu></app-menu>

<div style="display: flex;">
    <div  style="width: 400px;" mdbWavesEffect>
        <div class="md-form input-group mb-3" >
            <div class="input-group-prepend">
                <span class="input-group-text md-addon">Name: </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="techservice.name" aria-label="Username" aria-describedby="material-addon1">
        </div>

        <div class="md-form input-group mb-3" >
            <div class="input-group-prepend">
                <span class="input-group-text md-addon">Address: </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="techservice.address" aria-describedby="material-addon1">
        </div>

        <div *ngIf="techservice.stoId < 0">
            <button (click)="createTechservice(techservice, user)" type="button" mdbBtn block="true" color="dark" mdbWavesEffect>Create Technical Service</button>
        </div>

        <div class="container">
            <div *ngIf="techservice.stoId > 0" class="row">
                <div class="col">
                    <button (click)="updateTechservice(techservice)" type="button" block="true" style="background-color:#336B87; color: white;" mdbWavesEffec mdbBtn>Update Info</button>
                </div>

                <div class="col">
                    <button (click)="deleteTechservice(techservice.id)" type="button" block="true" style="background-color:#C4001A; color: white;" mdbWavesEffect mdbBtn>Delete</button>
                </div>

                <app-worker [techserviceId]="techservice.stoId"></app-worker>
            </div>
        </div>
    </div>
</div>
<!--
<div>{{techservice | json}}</div>
<div>{{user | json}}</div>
-->