<app-menu></app-menu>
<br><br><br><br>
   <div class="container" style="width: 500px">
    <form form="userProfile" (ngSubmit)="onSubmit()">
      <p class="h3 mb-4">User profile</p>
    <label><b>Full name </b></label>
     <input type="text" class="form-control" [(ngModel)]="userProfile.email" name="fullname" required >
     <label><b>Username</b></label>
    <input type="email" class="form-control" [(ngModel)]="userProfile.email" name="email" readonly>
    <label><b>Email</b></label>
    <input type="text" class="form-control" [(ngModel)]="userProfile.username" name="username" readonly>
    <label><b>Phone number</b></label>
    <input type="text" class="form-control" [(ngModel)]="userProfile.numberPhone" name="numberPhone" required>
    <br> 
    <div>
 <!-- <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Update</button>  -->  
    <a href="/home" type="button" class="btn my-2 my-sm-0" style="background-color:#336B87; color: white;">Finish review</a>
    </div>
    </form>
    </div>